/* Home page */
section.section-two {
  height: auto;
  min-height: 650px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .section-two-heading {
    display: block;
    text-transform: uppercase;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 6rem;
    font-weight: 400;
  }

  div.section-two-content {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;

    div.one,
    div.two, div.three {
      height: 450px;
      width: 37.5%;
    }

    div.one {
      position: relative;
      background-color: #d5e8c5;
      display: flex;
      align-items: center;
      justify-content: center;

      .text {
        width: 65%;

        p {
          font-weight: 400;
          text-align: justify;
          padding: 10px 50px;
          font-size: 1.35rem;
        }
      }
    }

    div.two {
      background-color: #ececec;
      position: relative;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .frases-header {
        p {
          width: 100%;
          font-size: 1.35rem;
          background-color: #826d5a;
          color: #ececec;
          margin: 0 0 10px 10px;
          padding: 4px;
          text-align: center;
        }
      }

      .frase {
        p {
          padding: 5px;
          font-size: 2.6rem;
          margin: 10px;
        }
      }
    }

    div.three {
      background-color: #d5e8c5;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      
      .foto {
        margin: 0 10px;
        width: 50%;
        height: 95%;
        background-image: asset-url("foto1.jpeg");
        background-position: center center;
        background-size: cover;
      }
    }
  }
}

.section-three {
  width: 100%;
  height: 50vh;
  padding: 50px 0;

  .section-three-container {
    width: 100%;
    height: 100%;
    display: flex;

    .image {
      width: 40%;
      background-image: asset-url("foto2.jpg");
      background-position: center center;
      background-size: cover;
    }

    .text-container {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: #d5e8c5;

      .text {
        height: 50%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
          font-style: italic;
          margin: 0 0 10px 0;
          font-size: 3rem;
        }
        small {
          margin-bottom: 10px;
          background-color: #eee;
          padding: 2px;
        }
        p {
          font-size: 1.2rem;
          letter-spacing: 1px;
          font-style: italic;
          font-weight: 600;
        }
      }
    }
  }
}

.home-container {
  .home-banner {
    width: 100%;
    height: 30vh;
  }

  .home-products-title {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e8b2ed;
    padding: 10px;
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .home-products {
    width: 85vw;
    height: 45vh;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    .product {
      width: 350px;
      height: 100%;
      position: relative;

      &:hover {
        .product-details {
          height: 100%;
        }
      }

      .product-details {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: #ececec, $alpha: .8);
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all .2s;

        .name {
          font-size: 1.1rem;
          background-color: #e8b2ed;
          padding: 5px 10px;
        }

        .price {
          font-size: 1.1rem;
          background-color: #e8b2ed;
          padding: 5px 10px;
          font-style: italic;
          font-weight: 600;
        }
      }
    }
  }

  .categories-bg {
    width: 100%;
    height: auto;
    background-color: #AFD292;
    padding: 25px 0;
    margin-top: 20px;
  }

  .home-categories {
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    .category {
      width: 730px;
      height: 110px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .category-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .category-bg {
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          transition: all 10s;
        }

        h1 {
          z-index: 100;
        }

        &:hover {
          .category-bg {
            transform: scale(3);
          }
        }
      }
    }
  }
}