.admin-user-wrapper {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .actions {
    width: auto;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .list {
      ul {
        list-style-type: none;

        li {
          margin: 10px 0;
          border: 1px solid #333;
          width: 100%;
          padding: 10px 5px;
        }
      }
    }
  }
}