<div class="filters">
  <%if params[:category].present?%>
    <p style="font-size:.9rem;font-style:italic;font-weight:700;" class="actual-category">Visualizando categoría: <%=params[:category]%></p>
  <%end%>
  <div class="filter-select-box">
    <div class="filter-select-box-title">
      <p class="categories-filter-title btn-primary">Categorías</p>
    </div>

     <div class="filter-select-box-title-responsive" style="position:relative;width:100vw">
      <p class="categories-filter-title-responsive btn-primary" style="z-index=50;position:absolute;top:50%;right:5%;transform:translateY(-50%)">Categorías</p>
    </div>

    <div class="filter-select-box-options">
      <%categories.each do |category|%>
        <%=link_to "#{category.name}", store_path(category: category.name), class: 'link'%>
      <%end%>
    </div>
  </div>
</div>

<div class="filter-select-box-options-offcanvas">
  <div class="menu-close">
    <i class="fa-solid fa-circle-xmark"></i>
  </div>

  <div class="categories-links">
    <%categories.each do |category|%>
      <%=link_to "♥ #{category.name}", store_path(category: category.name), class: 'link'%>
    <%end%>
  </div>
</div>
