<div class="filters">
  <%if params[:category].present?%>
    <p style="font-size:.9rem;font-style:italic;font-weight:700;">Visualizando categoría: <%=params[:category]%></p>
  <%end%>
  <div class="filter-select-box">
    <div class="filter-select-box-title">
      <p class="categories-filter-title btn-primary">Categorías</p>
    </div>

    <div class="filter-select-box-options">
      <%categories.each do |category|%>
        <%=link_to "#{category.name}", store_path(category: category.name), class: 'link'%>
      <%end%>
    </div>
  </div>
</div>
