<%obj.each do |product|%>
  <div class="product-card">
    <div class="image-container">
      <div class="product-card-description">
        <%=link_to '', "producto/#{product.id}", class: 'product-link'%>
          <p class="description">
            Ir al producto
          </p>
      </div>
      <img src="<%=product.img%>" alt="">
    </div>
    <div class="product-text">
      <p class="product-card-name"><%=product.name%></p>
      <p class="product-card-price">$<%=product.price%></p>
    </div>
  </div>
<%end%>