<section class="section-two">
  <h1 class="section-two-heading">everything here is handmade</h1>
  <div class="section-two-content">
    <div class="one">
      <div class="text">
        <p>Hola! Soy Micaela游밽 Quiero contarte que Hidden Petal es un proyecto que siempre estuvo en mi coraz칩n, 
        ac치 vas a poder encontrar prendas, mu침ecos, accesorios y objetos para el hogar 游쓇릞</p>
        <p>T O D O lo que veas en esta p치gina es trabajo de artesanos! Muchas cosas est치n incluso hechas por m칤 游봃</p>
        <p>Te invito a recorrer esta p치gina web para conocer m치s sobre Hidden Petal y ser parte de quienes 
        eligen comprar productos artesanales, de calidad y hechos con mucho amor 游눗</p>
      </div>
    </div>
    <div class="two">
      <div class="frases-header"><p>frase de la semana</p></div>
      <div class="frase">
        <p><%=@frase&.frase%></p>
      </div>
    </div>

    <div class="three">
      <div class="foto"></div>
    </div>
  </div>
</section>