<div class="contact-container">
  <h3>Para compras POR MAYOR comunicarse por cualquiera de estos medios.</h3>
  <div class="content">
    <div class="left">
      <div class="contact-link">
        <div class="contact-icon">
          <span class="iconify" data-icon="akar-icons:instagram-fill"></span>
        </div>
        <p>@hiddenpetal_</p>
      </div>

      <div class="contact-link">
        <div class="contact-icon">
          <span class="iconify" data-icon="brandico:facebook"></span>
        </div>
        <p>Hidden Petal</p>
      </div>

      <div class="contact-link">
        <div class="contact-icon">
          <span class="iconify" data-icon="akar-icons:whatsapp-fill"></span>
        </div>
        <p>011 2390 8937</p>
      </div>

      <div class="contact-link">
        <div class="contact-icon">
          <span class="iconify" data-icon="entypo:email"></span>
        </div>
        <p>@hiddenpetal@outlook.com</p>
      </div>
    </div>

    <div class="right">
      <div class="image">
      
      </div>
    </div>
  </div>
</div>