<div class="contact-container">
  <div class="contact">
    <i class="fa-solid fa-at"></i>
    <button class="btn-primary">Ir</button>
  </div>

  <div class="contact">
    <i class="fa-brands fa-whatsapp"></i>
    <button class="btn-primary">Enviar mensaje</button>
  </div>

  <div class="contact">
    <i class="fa-brands fa-tiktok"></i>
    <button class="btn-primary">Hidden Petal</button>
  </div>

  <div class="contact">
    <i class="fa-brands fa-facebook"></i>
    <button class="btn-primary">Hidden Petal</button>
  </div>

  <div class="contact">
    <i class="fa-brands fa-instagram"></i>
    <button class="btn-primary">Hidden Petal</button>
  </div>
</div>