<div class="tienda-container">
  <div class="tienda-heading">
    <div class="bg-black"></div>
    <h1>Bienvenido a la tienda</h1>
    <small>Descubrí todos los productos de Hidden Petal</small>
  </div>
  <%=render 'filters_bar'%>
  <div class="products-wrapper">
    <div class="productos-container">
      <%=render 'product', obj: @products%>
    </div>
  </div>
 
  <%= will_paginate @products, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
</div>

