<div class="last-marquee">
  <p>Marquee actual: </p>
  <p class="marquee">
    <%=@marquee.title%>
  </p>
  <%= link_to 'Nuevo', new_marquee_path, class: 'btn-primary' %>
  <%=link_to 'Volver', url_for(:back), class:'btn-danger'%>
</div>
